/* Put some basic styles here */
/*344D67 6ECCAF ADE792 F3ECB0*/
/*


*/

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
}

#block1{
    background: #344D67;
    color: rgb(255, 233, 233);
}
#block2{
    background: #6ECCAF;
}
#block3{
    background: #ADE792;
}
#block4{
    background: #F3ECB0;
}
.bgc1{
    background: #344D67;
}
.bgc2{
    background: #F3ECB0;
}
.bgc3{
    background: #ADE792;
}
.bgc4{
    background: #6ECCAF;
}
#block1 ,#block2 ,#block3, #block4{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    font-size: 16px;
    font-family: 'Zen Dots', cursive;
    
}
h4{
    font-family: 'Roboto', sans-serif;
}
.head{
    width: 160px;
    margin: auto auto 0 0;
    text-align: center;
    border-top-right-radius: 15px;
    font-size: 1.2em;
}

h1{
    text-align: center;
}
.row {
    width: 100%;
    display: flex;
    }

/* Large devices */
@media(min-width:1200px){
    .col-xl-3{
        width: 25%;
    }
}
/* Medium devices */
@media(max-width:1200px) and (min-width:992px){
    .row{
        flex-wrap: wrap;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-12{
        width: 99.99%;
    }
}
@media(max-width:992px) and (min-width:768px){
    .row{
        flex-wrap: wrap;
    }
    .col-md-6{
        width: 50%;
    }
}
/* Small devices */
    @media (max-width: 768px) {
        .row{
            flex-wrap: wrap;
        }
        .col-sm-12{
            width: 100%;
        }
    }
    
